:root {
    --width: 1024px;
    --bg-color: #FAFAFA;
    --color: #000;
    --top-bottom: 100px;
    --height: calc(100vh/4 - 5px);
    /* font-size: 10px; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color);
}

body {
    background-color: var(--bg-color);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header,
section {
    height: var(--height);
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}

header {
    text-align: center;
    font-size: 3rem;
    position: relative;
}

header>.source {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

.source img {
    width: 50%;
    height: 50%;
}

div.container {
    max-width: var(--width);
    margin: 0 auto;
    background-color: var(--bg-color);
}

p.desc,
p.descR {
    max-width: 70%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 auto;
}

p.gameMessage {
    font-size: 3rem;
}

section.buttons .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section.buttons .container button,
section.result .container button {
    width: 10vw;
    min-width: 75px;
    height: 10vw;
    min-height: 75px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

section.buttons .container button>img,
section.result .container button>img {
    width: 50%;
    height: 50%;
}

section.result img {
    width: 100%;
}

section.result .container {
    display: flex;
    column-gap: 10px;
}

section.result img.flip {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

section.score-board .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section.score-board h2 {
    font-size: 2rem;
    font-weight: bold;
}

section.score-board .scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.scores>div {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    font-size: 1rem;
}

button.add2HS {
    bottom: 0;
    font-size: 1em;
    display: none;
}